/* font-family: 'Dancing Script', cursive;
font-family: 'Calligraffitti', cursive; */

.nav-wrapper{
    font-family: 'Calligraffitti', cursive;
    background-color: lightcoral;
    color: whitesmoke;
}

body{
    background-color: whitesmoke;
    color: black;
}