/* font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive; */

body{
    background-color: whitesmoke;
}

h4 {
    margin: 1.5em 0 0 0;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

a {
    text-decoration: none;
}

i {
    padding: 0px 5px;
    cursor: pointer;
}

.nav-wrapper{
    font-family: 'Rock Salt', cursive;
    background-color: rgb(19, 18, 18);
    color: goldenrod;
}

.collection {
    margin: 6em 0 1em 0;
}

#saveBtn {
    float: right;
}

.done {
    text-decoration: line-through;
}